@font-face {
    font-family: karate;
    src: url(Karate.ttf);
}
@font-face {
    font-family: osaka;
    src: url(osaka-re.ttf);
}


body {
    font-family: karate;
    background-image: url("../img/speed2.gif");
    background-size: cover;
    background-position: center;
    color: white;
}

#launchpage {
    width: 100%;
   
}

#launchpage * {
    display: block;
}

#logo{
    text-align:center;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
}

#logo img{

    margin: 10px auto;
    width: 100%;
}

#name_label {
    text-align: center;
    width: auto;
    margin: auto;
    font-size: 2.5em;
}
#name {
    text-align: center;
    margin: auto;

    width: 90%;
 
   font-size: 1em;
    font-family: osaka;
}
#submitname {
    
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: white;
    font-family: karate;
    font-size: 3em;
    border: 1px dashed black;
    padding: .5em;
    margin-top: .5em;
}

#gameinterface {
    width: 100%;
    display: block;
}
#prompt {
    text-align: center;
    width: auto;
    margin: auto;
    margin-top: 0;
    font-size: 3em;
}

    #prompt_text {
        margin-bottom: 0;
    }

    #clock{
        margin-top: 0;
        margin-bottom: 0;
        font-family: osaka;
        font-size: 1.6em;
    }

#buttons {
    display: block;
}

.move_button, .playAgain {
    display: block;
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: white;
    font-family: karate;
    font-size: 3em;
    border: 1px dashed black;
    padding: .5em;
    margin-top: .3em;
}

#submitted {
    height: 100%;
}
#submitted p{
    width: 100%;
    text-align: center;
    font-family: karate;
    font-size: 3em;
    margin-top: 3em;
    
}

#lobby {
    height: 100%;
}

    #lobby p {
        width: 100%;
        text-align: center;
        font-family: karate;
        font-size: 3em;
        margin-top: 3em;
    }

#eliminated, #victory {
    height: 100%;
}

    #eliminated p, #victory p {
        width: 100%;
        text-align: center;
        font-family: karate;
        font-size: 3em;
        margin-top: 3em;
    }
